@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.page-card {
  position: relative;
  background-color: #fffaf3;
  border-radius: 2rem;
  padding: 3rem 2rem;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  text-align: center;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 28px,
    rgba(248, 172, 109, 0.43) 29px
  );

  line-height: 50px;
}

.about-tag {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #b05a79;
  background-color: #ffe6f0;
  padding: 6px 14px;
  border-radius: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.about-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #2b2b2b;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 1.5rem;
}

.about-image-container {
  margin-top: 2rem;
}

.about-image {
  width: 100%;
  max-width: 600px;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.tape-top-left,
.tape-top-right,
.tape-bottom-left,
.tape-bottom-right {
  position: absolute;
  width: 130px;
  height: auto;
  z-index: 2;
}

.tape-top-left {
  top: -10px;
  left: -10px;
  transform: rotate(-20deg);
}

.tape-top-right {
  top: -10px;
  right: -10px;
  transform: rotate(20deg);
}

.tape-bottom-left {
  bottom: -10px;
  left: -10px;
  transform: rotate(10deg);
}

.tape-bottom-right {
  bottom: -10px;
  right: -10px;
  transform: rotate(-10deg);
}

/* Responsividade */
@media (max-width: 768px) {
  .about {
    width: 90%;
    padding: 2rem 0.5rem;
    margin: auto;
  }
  .page-card {
    padding: 2rem 1rem;
  }

  .about-title {
    font-size: 1.6rem;
  }

  .about-image {
    max-width: 100%;
  }

  .tape-top-left,
  .tape-top-right,
  .tape-bottom-left,
  .tape-bottom-right {
    width: 45px;
  }
}
