@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fffbea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
